<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:0;padding-bottom:0"><!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
<article class="wp-block-group"><!-- wp:group {"tagName":"header","style":{"spacing":{"blockGap":"10px","padding":{"top":"45px","bottom":"45px","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"color":{"background":"#d4d9df"}},"textColor":"secondary","className":"entry-header","layout":{"type":"constrained"}} -->
<header class="wp-block-group entry-header has-secondary-color has-text-color has-background has-link-color" style="background-color:#d4d9df;margin-top:0;margin-bottom:0;padding-top:45px;padding-right:0;padding-bottom:45px;padding-left:0"><!-- wp:post-title {"level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"x-large"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"5px","margin":{"bottom":"0px"}},"typography":{"fontSize":"18px"}},"className":"post-meta","layout":{"type":"flex"}} -->
<div class="wp-block-group post-meta" style="margin-bottom:0px;font-size:18px"><!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontSize":"14px"}},"textColor":"primary"} /-->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontSize":"14px"}},"textColor":"primary"} /-->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontSize":"14px"}},"textColor":"primary"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"960px"}} /-->

<!-- wp:group {"tagName":"section","style":{"spacing":{"margin":{"top":"var:preset|spacing|medium","bottom":"0px"},"blockGap":"0","padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"}},"color":{"background":"#d4d9df"}},"className":"entry-comments","layout":{"type":"constrained","contentSize":"960px"}} -->
<section class="wp-block-group entry-comments has-background" style="background-color:#d4d9df;margin-top:var(--wp--preset--spacing--medium);margin-bottom:0px;padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)"><!-- wp:comments {"className":"wp-block-comments-query-loop"} -->
<div class="wp-block-comments wp-block-comments-query-loop"><!-- wp:heading -->
<h2 class="wp-block-heading">Comments</h2>
<!-- /wp:heading -->

<!-- wp:comments-title {"level":3} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|medium"}}}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--medium)"><!-- wp:comment-template -->
<!-- wp:group {"tagName":"article","style":{"spacing":{"blockGap":"var:preset|spacing|x-small","margin":{"bottom":"var:preset|spacing|small"}}},"layout":{"type":"default"}} -->
<article class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--small)"><!-- wp:group {"tagName":"header","style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<header class="wp-block-group"><!-- wp:avatar {"size":48,"style":{"border":{"radius":"24px"}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:comment-author-name /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex"}} -->
<div class="wp-block-group"><!-- wp:comment-date /-->

<!-- wp:comment-edit-link /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link /--></article>
<!-- /wp:group -->
<!-- /wp:comment-template --></div>
<!-- /wp:group -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments --></section>
<!-- /wp:group --></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->